/node_modules
/public/hot
/public/storage
/public/admin
/public/site
/public/travel
/storage/*.key
/vendor
app.zip
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
